html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-size: 50px;
    text-align: center;
    color: #004763;
}
.paragraph {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.container-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    height: 100vh;
}
.container-nosotros img {
    max-width: 50%;
    object-fit: cover;
    height: 100%;
}
.container-nosotros .text {
    width: 65%;
    padding: 10px;
}
.container.reverse {
    flex-direction: row-reverse;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.navbar {
    background-color: #004763;
    height: 5vw;
    max-height: 145px;
    position: fixed;
    width: 100%;
}
.container-fluid{
    display: flex;
    flex-grow: 1;
    background-color: #004763;
}
.hidden {
    position: fixed !important;
    visibility: hidden;
    opacity: 0;
}
.link-logo{
    width: 18vw;
    min-width: 4cm;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: max(2vw, 20px);
    border-bottom-right-radius: max(6vw, 35px);
    position: fixed;
    transition: width 0.5s;
}
.link-logo-pequeño{
    width: 13vw;
}
.imagen-logo{
    height: 10vw;
    min-height: 3cm;
    max-height: 200px;
    align-self: center;
    padding: 0.5cm;
    position: unset;
    z-index: 1;
}
.imagen-logo-pequeña{
    height: 7vw;
    min-height: 2.5cm;
    max-height: 200px;
    align-self: center;
    padding: 0.55cm;
    position: unset;
}
.navbar-toggler {
    display: none;
    cursor: pointer;
}
.imagen-menu {
    height: 60px;
    max-width: 70px;
}
.navbar-nav {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 1vw;
}
.nav-item {
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    flex: 0 auto;
    padding: 15px;
    font-size: max(1.5vw,20px);
    display: block;
    text-decoration: none;
}
.nav-item:hover {
    color: #4DB0CB;
}
.nav-link {
    vertical-align: top;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: inline-block;
    position: relative;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-family: inherit;
}
.dropdown-content {
    border-radius: 5px;
    margin-left: 15px;
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    border-radius: 5px;
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-container {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 60px;
    height: 5vw;
    max-height: 145px;
    justify-content: flex-end;
    margin-right: 3vw;
    column-gap: 2vw;
}
.container-divider {
    height: 3px;
    width: auto;
    background-color: #75CED5;
}
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    text-align: center;
}
.intro-title {
    color: white;
    text-transform: uppercase;
    font-size: max(2.5vw,26px);
    margin: 0px;
}
.intro-subtitle {
    color: white;
    text-transform: uppercase;
    font-size: max(1.2vw,18px);
    margin: 0px;
    text-align: left;
}
.divider {
    height: 5px;
    width: auto;
    background-color: #4DB0CB;
    margin: 15px 0px;
}
.container-contact {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.contact {
    background-color: #096B8C;
    border: none;
    height: fit-content;
    font-size: max(0.8vw, 13px);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.container-atributos {
    height: 80vh;
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.atributo {
    width: fit-content;
    height: fit-content;
    color: #004763;
    font-size: max(3vw,28px);
    transition: color 0.6s ease, box-shadow 0.6s ease;
    text-transform: uppercase;
    padding: 20px 50px;
    margin: 0px 50px;
    text-align: center;
}
.atributo:hover {
    color: #00476391;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ffffff9d;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    mix-blend-mode: exclusion;
}
.next {
    border-radius: 3px 0 0 3px;
    align-self: flex-end;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.active {
    background-color: #717171;
}
.slider1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5%;
}
.carrusel-proyectos {
    display: flex;
    justify-content: center;
    height: 40vw;
    min-height: 500px;
}
.slide {
    width: 100%;
}
.grid-proyectos {
    min-height: 100vh;
    padding: 8vw;
    padding-top: 30px;
}
.fila {
    height: 25vw;
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
}
.col {
    width: 40%;
    min-width: 300px;
    background-color: #6F6F73;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.container-data {
    display: flex;
    justify-content: space-evenly;
    padding: max(12vw, 70px);
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-icon {
    width: 10vw;
    min-width: 100px;
}
.data-text {
    text-align: center;
    font-size: max(2.5vw, 20px);
    text-transform: uppercase;
}
.indicador {
    font-size: max(5vw, 30px);
    color: #004763;
    margin: 0px;
    font-weight: 400;
}
.estado {
    width: fit-content;
    align-self: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.entregado {
    background-color: #17b302
}
.construccion {
    background-color: #e49c00
}
.container-footer {
    width: 100%;
    display: flex;
    min-height: 400px;
    background-color: #004763;
}
.footer {
    padding: 5vw;
}
.block-footer {
    padding: 2vw;
}
.block-footer-subt {
    width: fit-content;
}
.footer-subt {
    text-transform: uppercase;
    color: white;
    margin: 10px 0px;
}
.footer-divider {
    width: auto;
    height: 4px;
    background-color: #4DB0CB;
}
.img-grande {
    height: 25vw;
    min-height: 8cm;
    max-height: unset;
    z-index: inherit;
}
.block-footer-info {
    color: #D9D9DA;
}
.overlayN {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-right: 305px;
    padding-top: 50px;
}

.bifTitulosN {
    font-size: 75px;
    margin-top: 110px;
    color: white;
    text-align: right;
    margin-right: 150px;
}

.titulodeCuadroN {
    font-size: 28px;
    margin-top: 40px;
    color: #004763;
    text-align: center;
}

.TextoN {
    font-size: 20px;
    text-align: justify;
    color: #004763;
}

.sectionN {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleN {
    font-size: 72px;
    color: #004763;
    margin-bottom: 10px;
    background-color: white;
}

.paragraphN {
    font-size: 35px;
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 960px) {
    .container-footer {
        flex-direction: column;
    }
    .navbar-toggler {
        display: flex;
        align-items: center;
    }
    .navbar-nav{
        flex-direction: column;
        position: absolute;
        left: 0;
        top: max(8vw, 60px);
        width: 100%;
        text-align: center;
        z-index: 1;
        padding: 0px;
        margin-block-start: 0px;
        background-color: #004763;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        opacity: 0;
        visibility: hidden;
    }
    .navbar-nav-active {
        display: flex;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.5s;
    }
    .navbar-container {
        justify-content: space-evenly;
        margin-left: 25vw;
        margin-right: 0px;
    }
    .nav-link {
        padding: 5px;
    }
    .nav-item {
        font-size: 20px;
    }
    .container-data {
        flex-direction: column;
        row-gap: 6vw;
    }
    .fila {
        flex-direction: column;
        height: -webkit-fill-available;
        row-gap: 6vw;
        align-items: center;
        justify-content: unset;
    }
}
@media only screen and (max-width: 500px) {
    .container-contact {
        display: none;
    }
    .navbar-container {
        justify-content: flex-end;
    }
    .navbar-toggler {
        margin-right: 10vw;
    }
}
@media only screen and (max-width: 650px) {
  
    .TextoN {
      font-size: 20px; 
    }
    .paragraphN {
        font-size: 15px;
    }
    .titleN {
        font-size: 32px;
    }
  }
  
  @media only screen and (min-width: 651px) {
    
    .TextoN {
      font-size: 35px; 
    }
  }