html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: "Vollkorn",serif;
}
.navbar {
    background-color: #004763;
    height: 5vw;
    max-height: 145px;
    position: fixed;
    width: 100%;
}
.container-fluid{
    display: flex;
    flex-grow: 1;
    background-color: #004763;
}
.link-logo{
    width: 23vw;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: max(2vw, 20px);
    border-bottom-right-radius: max(6vw, 35px);
    position: fixed;
}
.imagen-logo{
    height: 15vw;
    min-height: 70px;
    max-height: 200px;
    align-self: center;
    padding: 1vw;
}
.navbar-toggler {
    display: none;
    cursor: pointer;
}
.imagen-menu {
    height: 60px;
    max-width: 70px;
}
.navbar-nav {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 1vw;
}
.nav-item {
    border-radius: 40px;
    color: #4dafca;
    text-transform: uppercase;
    flex: 0 auto;
    padding: 15px;
    font-size: max(1.5vw,20px);
    font-weight: 600;
    line-height: 20px;
    display: block;
    text-decoration: none;
}
.nav-item:hover {
    background-color: #002838;
}
.nav-link {
    vertical-align: top;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: inline-block;
    position: relative;
}
.navbar-container {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 60px;
    height: 5vw;
    max-height: 145px;
    justify-content: space-evenly;
    margin-left: 20vw;
}
.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-title {
    color: white;
    text-transform: uppercase;
    font-size: 3.5vw;
}
.container-contact {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.contact {
    background-color: #002838;
    border: none;
    height: fit-content;
    font-size: max(0.8vw, 13px);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.grid-proyectos {
    height: 100vh;
    padding: 8vw;
}
.fila {
    display: flex;
    justify-content: space-around;
}
.col {
    width: 20%;
}
.container-data {
    display: flex;
    justify-content: space-evenly;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-icon {
    width: 15vw;
    min-width: 130px;
}
.indicador {
    font-size: max(7vw, 50px);
    color: #004763;
    margin: 0px;
    font-weight: 400;
}
#contador {
    font-size: 24px;
    text-align: center;
    animation: contar 1s linear;
  }
  
  @keyframes contar {
    from { content: '0'; }
    to { content: '45'; }
  }
  #contador.animar {
    animation-play-state: running;
  }
  

@media only screen and (max-width: 960px) {
    .navbar-toggler {
        display: flex;
        align-items: center;
    }
    .navbar-nav{
        flex-direction: column;
        position: absolute;
        left: 0;
        top: max(8vw, 60px);
        width: 100%;
        text-align: center;
        z-index: 1;
        padding: 0px;
        margin-block-start: 0px;
        background-color: #004763;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        opacity: 0;
        visibility: hidden;
    }
    .navbar-nav-active {
        display: flex;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.5s;
    }
    .link-logo {
        min-width: 120px;
    }
    .navbar-container {
        justify-content: space-evenly;
    }
    .nav-link {
        padding: 5px;
    }
    .nav-item {
        font-size: 20px;
    }
    .container-data {
        flex-direction: column;
        row-gap: 6vw;
    }
    .fila {
        flex-direction: column;
        height: -webkit-fill-available;
        row-gap: 6vw;
        align-items: center;
        justify-content: unset;
    }
}
@media only screen and (max-width: 500px) {
    .container-contact {
        display: none;
    }
    .navbar-container {
        justify-content: flex-end;
    }
    .navbar-toggler {
        margin-right: 10vw;
    }
}