{% extends 'main/layouts/nav.html' %}

{% block content %}
<div class="email-bg">
	<head>
    	<title>Contáctanos | CSJ Grupo Inmobiliaria</title>
	</head>
	<div style="padding: 50px;padding-top: max(5vw,100px)">
		<h2 class="intro-title" style="color: white; text-shadow: 2px 2px 3px #0000005e;">Contáctanos</h2>
		<form action="https://formsubmit.co/simonpariscam@gmail.com" method="POST" >
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre" required>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<label for="mensaje">Mensaje:</label>
			<textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea>
			<input type="submit" value="Enviar">
			<input type="hidden" name="_next" value="http://www.csjgrupoinmobiliaria.com/contact/">
			<input type="hidden" name="_captcha" value="false">
			<input type="hidden" name="_url" value="http://www.csjgrupoinmobiliaria.com/contact/">
		</form>
	</div>
</div>
{% endblock %}