{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}
<head>
    <title>Home | CSJ Grupo Inmobiliaria</title>
</head>
<div style="height: 100vh;">
    <div class="intro intro-bg">
        <div>
            <h1 class="intro-subtitle">VIVE Y DISFRUTA</h1>
            <h1 class="intro-title" style="margin: 0px;">EL LUGAR QUE SOÑASTE</h1>
            <div class="divider"></div>
        </div>
        <div class="container-contact">
            <button class="contact" onclick="document.location='/proyectos'">
                Conoce Nuestros proyectos
            </button>
        </div>
    </div>
</div>

<section class="contadores-principales">
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/viviendas entregadas.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="2000">0</div>
        <h2 class="texto-contador">viviendas entregadas</h2>
        <div class="divider"></div>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/metros.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="100000">0</div>
        <h2 class="texto-contador">m<sup>2</sup> construidos</h2>
        <div class="divider"></div>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/urbanismo.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="30000">
            0
        </div>
        <h2 class="texto-contador">m<sup>2</sup> de zonas comunes</h2>
        <div class="divider"></div>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/comercio.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="2000">0</div>
        <h2 class="texto-contador">empleos generados</h2>
        <div class="divider"></div>
    </div>
  </section>
<div class="container-divider"></div>
<div class="bg-sup-izq" style="padding: 20px 0px;">
    <div style="text-align: center; padding: 0px 20px;">
        <h1 class="intro-title" style="color: #096B8C; text-shadow: 2px 2px 3px #0000005e;">nuestros proyectos</h1>
    </div>
    <div class="slider1">
        <div class="carrusel-proyectos">
            {% for proyectoDestacado in proyectosDestacados %}
            <a class="slide-c1 fade" href="{{ proyectoDestacado.site_url }}" target="_blank">
                <div class="fondo-logo-slide">
                    <img style="height: 100%;" src="{{ proyectoDestacado.logo.url }}" alt="">
                </div>
                {% if proyectoDestacado.imagen %}
                <div class="img-slide" style="background-image: url('{{ proyectoDestacado.imagen.url }}');"></div>
                {% endif %}
                <h2 class="slide-c1-footer" style="background-color: {{ proyectoDestacado.color }};">{{ proyectoDestacado.estado }}</h2>
            </a>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <script>
            let slideIndex = 0;
            showSlides(slideIndex);
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }
            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("slide-c1");
                if (n >= slides.length) {slideIndex = 0}
                if (n < 0) {slideIndex = slides.length-1}
                for (i = 0; i < slides.length; i++) {
                    slides[i].classList.remove('slide1');
                    slides[i].classList.remove('slide2'); 
                    slides[i].classList.remove('slide3'); 
                    slides[i].classList.remove('slide4'); 
                    slides[i].classList.remove('slide5'); 
                }
                if (slideIndex > slides.length) {slideIndex = 1}    
                slides[slideIndex].classList.add('slide1');
                if (slideIndex == slides.length-4) {
                    slides[slideIndex+1].classList.add('slide2');
                    slides[slideIndex+2].classList.add('slide3');
                    slides[slideIndex+3].classList.add('slide4');
                    slides[0].classList.add('slide5');
                } else if (slideIndex == slides.length-3) {
                    slides[slideIndex+1].classList.add('slide2');
                    slides[slideIndex+2].classList.add('slide3');
                    slides[0].classList.add('slide4');
                    slides[1].classList.add('slide5');
                } else if (slideIndex == slides.length-2) {
                    slides[slideIndex+1].classList.add('slide2');
                    slides[0].classList.add('slide3');
                    slides[1].classList.add('slide4');
                    slides[2].classList.add('slide5');
                } else if (slideIndex == slides.length-1) {
                    slides[0].classList.add('slide2');
                    slides[1].classList.add('slide3');
                    slides[2].classList.add('slide4');
                    slides[3].classList.add('slide5');
                } else {
                    slides[slideIndex+1].classList.add('slide2');
                    slides[slideIndex+2].classList.add('slide3');
                    slides[slideIndex+3].classList.add('slide4');
                    slides[slideIndex+4].classList.add('slide5');
                }
            }
        </script>
    </div>
</div>
<div class="container-atributos bg-inf-der">
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Ingenieria.png' %}" alt="">
        Ingeniería
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Arquitectura.png' %}" alt="">
        Arquitectura
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Diseño.png' %}" alt="">
        Diseño
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Innovacion.png' %}" alt="">
        Innovación
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Consultoria.png' %}" alt="">
        Consultoría
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Construccion.png' %}" alt="">
        Construcción
    </div>
    <div class="atributo">
        <img class="img-atributo" src="{% static 'Imagenes/Promocion.png' %}" alt="">
        Promoción
    </div>
    <div class="atributo">Gerencia</div>
    <div class="atributo">Interventoría</div>
</div>
{% endblock %}