{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}
<div style="height: 100vh;">
    <div class="intro intro-bg">
        <div>
            <h1 class="intro-subtitle">VIVE Y DISFRUTA</h1>
            <h1 class="intro-title">EL LUGAR QUE SOÑASTE</h1>
            <div class="divider"></div>
        </div>
        <div class="container-contact">
            <button class="contact" onclick="document.location='/proyectos'">
                Conoce Nuestros proyectos
            </button>
        </div>
    </div>
</div>
<div class="container-atributos nosotros-bg2">
    <div class="atributo">Soluciones de ingeniería</div>
    <div class="atributo">Arquitectura</div>
    <div class="atributo">Diseño</div>
    <div class="atributo">Innovación</div>
    <div class="atributo">Consultoría</div>
    <div class="atributo">Construcción</div>
    <div class="atributo">Experiencias</div>
</div>
<div class="container-divider"></div>
<section class="contadores-principales">
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/metros.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="2000">0</div>
        <h2 class="texto-contador">viviendas entregadas</h2>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/metros.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="100000">0</div>
        <h2 class="texto-contador">m<sup>2</sup> construidos</h2>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/metros.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="30000">
            0
        </div>
        <h2 class="texto-contador">m<sup>2</sup> de urbanismo <br> y zonas comunes</h2>
    </div>
    <div class="contador disguise">
        <img class="data-icon" src="{% static 'Imagenes/metros.png'%}" alt="">
        <div class="contador-cantidad" data-cantidad-total="560">0</div>
        <h2 class="texto-contador">m<sup>2</sup> de comercio</h2>
    </div>
  </section>
<div class="container-divider"></div>
<div style="padding: 50px 0px;" class="nosotros-bg2">
    <div style="text-align: center">
        <h1 class="intro-title" style="color: #096B8C;">Proyectos Destacados</h1>
    </div>
    <div class="slider1">
        <div class="carrusel-proyectos">
            {% for proyecto in proyectos %}
            <a style="background-image: url('{{ proyecto.imagen.url }}'); background-position: top;" class="slide fade" href="{{ proyecto.site_url }}" target="_blank">
                <div class="fondo-logo-slide">
                    <img style="width: 100%;" src="{{ proyecto.logo.url }}" alt="">
                </div>
            </a>
            {% endfor %}
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
        <script>
            let slideIndex = 0;
            showSlidesAuto();
            
            function currentSlide(n) {
                slideIndex = n; 
                showSlides();
            }
            function showSlides() {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            }

            function showSlidesAuto() {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlidesAuto, 6000);
            }
        </script>
    </div>
</div>
{% endblock %}