{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}
<div class="intro intro-img">
    <h1 class="intro-title">El lugar que soñamos</h1>
</div>
<div class="container-data">
    <div class="data">
        <h1 style="text-align: center;"> <p class="indicador">+150.000</p> m<sup>2</sup> construidos.</h1>
        <img class="data-icon" src="{% static 'metros.png'%}" alt="">
    </div>
    <div class="data">
        <h1 style="text-align: center;"><p class="indicador">+25</p> años de experiencia</h1>
        <img class="data-icon" src="{% static 'experiencia.png'%}" alt="">
    </div>
</div>
<div class="grid-proyectos">
    <div class="fila">
        <div class="col">
            <h2>Villa Romera Etapa 1</h2>
        </div>
        <div class="col">
            <h2>Villa Romera Etapa 2</h2>
        </div>
    </div>
</div>

{% endblock %}