{% extends 'main/layouts/nav.html' %}
{% load static %}
{% block content %}
<head>
    <title>Nosotros | CSJ Grupo Inmobiliaria</title>
</head>
<body>
	<div class="container-nosotros nosotros-bg2">
		<img src="{% static 'Imagenes/Mision.jpeg'%}" alt="">
	</div>
	<div class="container-nosotros nosotros-bg3">
		<img src="{% static 'Imagenes/Vision.jpeg'%}" alt="">
	</div>
	<div class="container-nuestras-marcas">
		<img src="{% static 'Imagenes/nuestras marcas.jpeg' %}" alt="">
		<div style="display: flex; width: 100%; justify-content: center; align-items: center;">
			<img class="logo" src="{% static 'Imagenes/logo MYKONOS.jpg' %}" alt="">
			<img class="logo" src="{% static 'Imagenes/Logo VR.png' %}" alt="">
			<img class="logo" src="{% static 'Imagenes/Terrazzo-logo.jpg' %}" alt="">
		</div>
	</div>
</body>
{% endblock %}