{% extends 'main/layouts/nav.html' %}

{% block content %}
<head>
    <title>Proyectos | CSJ Grupo Inmobiliaria</title>
</head>
<div class="proyectos-bg" style="padding: 50px;padding-top: max(5vw,100px)">
    <h1 class="intro-title" style="color: #096B8C; text-shadow: 2px 2px 3px #0000005e;">proyectos</h1>
    <div class="grid-proyectos">
        <div class="fila">
            {% for proyecto in proyectos %}
                {% if proyecto.prioridad == "Alta" %}
                    {% if proyecto.imagen1 %}
                    <a class="col" href="/proyecto/{{proyecto.id}}" style="background-image: url('{{proyecto.imagen1.url}}');">
                        <div class="col-container">
                            {% if proyecto.logo %}
                            <img src="{{proyecto.logo.url}}" alt="Logo" class="logo-proyectos">
                            {% endif %}
                            <h2 class="estado">{{proyecto.estado}}</h2>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for proyecto in proyectos %}
                {% if proyecto.prioridad == "Media" %}
                    {% if proyecto.imagen1 %}
                    <a class="col" href="/proyecto/{{proyecto.id}}" style="background-image: url('{{proyecto.imagen1.url}}');">
                        <div class="col-container">
                            {% if proyecto.logo %}
                            <img src="{{proyecto.logo.url}}" alt="Logo" class="logo-proyectos">
                            {% endif %}
                            <h2 class="estado">{{proyecto.estado}}</h2>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for proyecto in proyectos %}
                {% if proyecto.prioridad == "Baja" %}
                    {% if proyecto.imagen1 %}
                    <a class="col" href="/proyecto/{{proyecto.id}}" style="background-image: url('{{proyecto.imagen1.url}}');">
                        <div class="col-container">
                            {% if proyecto.logo %}
                            <img src="{{proyecto.logo.url}}" alt="Logo" class="logo-proyectos">
                            {% endif %}
                            <h2 class="estado">{{proyecto.estado}}</h2>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}