{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}

<div class="container-proyecto">
    <div class="slider2">
        <div class="carrusel-proyectos">
            <div class="slide fade slide1">
            </div> 
            <div class="slide fade slide2">
            </div>
            <div class="slide fade slide3">
            </div>
        </div>
        <div class="dots">
            <span class="dot" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
        <script>
            let slideIndex = 0;
            showSlidesAuto();
            
            function currentSlide(n) {
                slideIndex = n; 
                showSlides();
            }
            function showSlides() {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            }

            function showSlidesAuto() {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlidesAuto, 6000);
            }
        </script>
    </div>
    <div class="info-proyecto">
        <div class="vis">VIS</div>
        <img class="logo-proyecto" src="{% static 'Imagenes/Logo VR.png' %}" alt="">
        <div>
            <p><strong>Ubicación:</strong> Sabaneta, Maria Auxiliadora.</p>
            <h1>My First Google Map</h1>

            <div id="googleMap" style="width:100%;height:400px;"></div>

            <script>
                function myMap() {
                var mapProp= {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
        </div>
    </div>
</div>

{% endblock %}