{% extends 'main/layouts/nav.html' %}

{% block content %}
<div style="padding: max(5vw,100px);">
    <div class="grid-proyectos">
        <div class="fila">
            {% for proyecto in proyectos %}
                {% if proyecto.imagen1 %}
                <a class="col" href="/proyecto/{{proyecto.id}}" style="background-image: url('{{proyecto.imagen1.url}}');">
                    <h2 class="same-class">{{proyecto.nombre}}</h2>
                    <h2 class="estado">{{proyecto.estado}}</h2>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}