{% extends 'main/layouts/nav.html' %}

{% block content %}
<div style="padding: max(5vw,100px);">
    <div class="grid-proyectos">
        <div class="fila">
            <a class="col" href="/proyecto">
                <h2>Etapa 1 - Villa Romera Campestre</h2>
                <h2 class="estado entregado">Entregado</h2>
            </a>
            <div class="col">
                <h2>Etapa 2 - Villa Romera Campestre</h2>
                <h2 class="estado entregado">Entregado</h2>
            </div>
        </div>
        <div class="fila">
            <div class="col">
                <h2>Etapa 3 - Villa Romera Campestre</h2>
                <h2 class="estado entregado">Entregado</h2>
            </div>
            <div class="col">
                <h2>Torre 10 - Villa Romera Olivo</h2>
                <h2 class="estado construccion">En construcción</h2>
            </div>
        </div>
        <div class="fila">
            <div class="col">
                <h2>Etapa 4 - Villa Romera Campestre</h2>
                <h2 class="estado entregado">Entregado</h2>
            </div>
            <div class="col">
                <h2>Torre 5 - Villa Romera Campestre</h2>
                <h2 class="estado construccion">En construcción</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}