{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSJ Grupo Inmobiliario</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon csj.png' %}">
    <link rel="stylesheet" href="{% static 'clases.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <style>
        .intro-img{
            background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.336)), url("{% static 'Fondo intro home.jpg'%}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="container-fluid">
            <a href="/" class="link-logo">
                <img src="{% static 'Logo CSJ.png' %}" class="imagen-logo">
            </a>
            <div class="navbar-container">
                <div class="navbar-toggler" onclick="toggleMenu()">
                    <img src="{% static 'Menu button.jpg'%}" class="imagen-menu">
                </div>
                <ul class="navbar-nav" id="nav-items">
                    <li class="nav-link">
                        <a href="/" class="nav-item">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/proyectos" class="nav-item">Proyectos</a>
                    </li>
                    <li class="nav-link">
                        <a href="/nosotros" class="nav-item">Nosotros</a>
                        </li>
                </ul>
            </div>
            <div class="container-contact">
                <button class="contact">
                    ¡Contáctanos!
                </button>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>